<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detalhes</title>
    </head>
    <body>

            <div class="col-8 m-auto pt-4 pb-2 text-center">
                <strong>Empresa</strong>: </strong>{{db.nome}}<br>
            </div>
            <br>
            <div class="col-8 m-auto pt-4 pb-2 text-center">
                <strong>Segmento: </strong>{{ db.id_segmento }}<br>
                <strong>CNPJ</strong>: </strong>{{ db.cnpj }}<br>
                
            </div>
            
            <br>

            <div class="col-8 m-auto pt-3 pb-2 text-center">
                <a href="/" class="btn btn-info">Voltar</a>
            </div>

        </body>
        </html>
    </body>
</html>