<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Cadastro Segmento </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>
<body>

        <div class='col-8 m-auto pt-3 pb-2 text-center'>
            <h1>Visualização</h1>
        </div>

        <div class="col-8 m-auto pt-4 pb-2 text-center">
            <a href="/" class="btn btn-info">Voltar</a>
        </div>


        <div class="col-8 m-auto pt-4 pb-2 text-center">
            <strong>Segmento: </strong>{{db.segmento}}<br>
            <strong>Marca: </strong>{{db.marca}}<br>
            <strong>Produto: </strong>{{db.produto}}<br>
        </div>
</body>

</html>